@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}
  
header {
  position: relative;
  background-color: #f2f8f9;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: 'American Captain';
  src: url('../fonts/AmericanCaptain-MdEY.otf') format('opentype');
}

h1 {
  font-family: 'American Captain', sans-serif;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  font-weight: 900;
}


#headerCanvas {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  z-index: 1;
}

nav {
  position: absolute;
  right: 40px;
  margin-right: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
  
nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 5px 10px;
  transition: all 0.3s ease;
  font-size: 0.95rem;
}

nav ul li a:hover {
  color: #007BFF;
  background-color: #eef5f7;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul li a:active {
  color: #0056b3;
  transform: scale(0.95);
}
  
  nav .join-btn {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

  main {
    flex: 1;
    background-color: #eef5f7;
    text-align: center;
    padding: 50px 0;
}
  
  .hero {
    background-color: #eef5f7;
    text-align: center;
    padding: 50px 0;
  }
  
  .specs {
    background-color: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .specs div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }

  .copyright {
    background-color: #111;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-size: 0.9rem;
}
  
  .purchase-section {
    background-color: #eef5f7;
    padding: 30px 0;
    text-align: center;
}

.purchase-btn {
    padding: 15px 40px;
    background-color: #f2f8f9;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.purchase-btn:hover {
    background-color: #007BFF;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.purchase-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}



  